/* dados por la consigna*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a:link, a:visited, a:active{
    text-decoration: none;
    color: #000;
}
li{
    list-style: none;
}
.centrado-horizontal{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.burger-menu{
    display: none;
}


.top-header{
    display: flex;
    align-items: flex-end;
    padding: 20px;
    justify-content: space-around;
}

.logo{
    flex: 30%;
}

.logo img{
    width: 150px;
}

.search{
    position: relative;
    display: flex;
    width: 150px;
    flex: 30%;
    background-color: #FFF;
    border-radius:10px;
    align-items: center;
    justify-content: space-around;
}

.search i .fa-search{
    color: #666;
}

.search input{
   border:none;
   height: 30px;
   background: none;
   width:120px;
}

.top-header .centrado-horizontal{
flex: 30%;    }





main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}
/* dados por la consigna*/

article:hover > div > i{
    transition: transform 1.0s;
    transform: rotate(-90deg);

}



body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}





header{
    background-color: #EAC926;
}














.price{
    font-size: 18px;
    flex:30%;
}

.discount{
    flex:70%;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}


.description{
    display: none;
    margin-top: 20px;
}

h3,
.description{
    color: #666;
}


section.banner img{
    width: 100%;
}

main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    background-color: #fff;    
    margin: 10px 0px;

}


main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}


main section h3{
    margin: 20px 0px;
}

article div.main-article{
    width: 100%;
    border-top: 1px solid #ebebeb;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    position: relative;
}

footer{
    display: flex;
    text-align: center;
    flex-wrap: wrap;

}

.footerIcon{
    text-align: center;
    font-size: 2em;
    color:#1259c3;
}

.footerIcon i:hover{
        transition: color 0.3s;
        color: #EAC926;;
    
}

footer .text-container{
display: flex;
flex: 100%;
background-color: rgb(227, 227, 227);
flex-wrap: wrap;

}

.pay-method-text-container, .gift-text-container, .security-text-container{
    flex:29%;
    margin: 20px;
}

.footer-legal{
    display: block;
    text-align: left;
    margin: 20px;
}

/* footer .footerIcon i:hover{
    color: #EAC926;
} */
/* nav{
    display: none;
} */

.section-register{
    display: flex;
    justify-content: center;
}


.section-login{
    display: flex;
justify-content: center;
}
.container-register{
    background: #dfdfdf;
    padding: 20px;
    border-radius: 6px;
    margin: 20px;
  
}


.container-login{
    background: #dfdfdf;
    padding: 20px;
    border-radius: 6px;
    margin: 20px;
  
}
.container-register input{
border:none;
border-radius: 5px;
}

.container-login input{
    border:none;
    border-radius: 5px;
    }
.container-register div{
   margin-top:10px;
   margin-bottom: 10px;
    }
    .perfil-usuario{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

label{
    font-weight: 700;
    display: flex;
    justify-content: left;
    text-align: center;
    /* flex:100%; */
}

.botones{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.botones button{
    width: 100px;
    background-color: #3483fa;
border: none;
    border-radius: 5px;
    height: 30px;
    color: #fff;
    margin: 20px;
}


.botones button p{

    color: #fff;
}
.botones button:hover{
    background-color: #2158ab;

}
/* 
.usuario, .password{

} */

.perfil div{
    display: flex;
    justify-content: space-around;
    text-align: center;
}





@media (min-width: 360px) and (max-width: 767px) {
     nav{
        display: none;
    }

    div.burger-menu{
display: flex;    }

.top-header{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.logo{
    flex: 40%;
}

.logo img{
    width: 150px;
}

.search{
    position: relative;
    display: flex;
    width: 150px;
    flex: 40%;
    background-color: #FFF;
    border-radius:10px;
    align-items: center;
    justify-content: space-around;
}

.search i .fa-search{
    color: #666;
}

.search input{
   border:none;
   height: 30px;
   background: none;
   width:120px;
}


.top-header div p{
    margin-top: 30px;
}

/* header .top-header .form{
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 50%;
} */

div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

}
    main section article .description{
        display: block;
    }

    main section article{
        width: 100%;
    }
    main section .products{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }


    .section-login form{
        display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    }


@media (min-width: 768px) and (max-width:1023px){

    .top-header{
        display: flex;
        align-items: flex-end;
        padding: 20px;
        justify-content: space-around;
    }
    
    .logo{
        flex: 30%;
    }
    
    .logo img{
        width: 150px;
    }
    
    .search{
        position: relative;
        display: flex;
        width: 150px;
        flex: 30%;
        background-color: #FFF;
        border-radius:10px;
        align-items: center;
        justify-content: space-around;
    }
    
    .search i .fa-search{
        color: #666;
    }
    
    .search input{
       border:none;
       height: 30px;
       background: none;
       width:120px;
    }

    .top-header .centrado-horizontal{
flex: 30%;    }



    main section article .description{
        display: none;
    }
    main section article{
        width: 47%;
    }
    .burger-menu{
        display: none;
    }
    nav{
        display: flex;
        justify-content: space-between;
        padding-bottom: 15px;
    }
    nav ul{
        display: flex;
    }
    nav ul li{
        margin: 0 10px;
    }
    ul li a{
        font-size: 14px;
    }
    article:hover > .main-article > .description{
        display: block;
    }
    article:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }


}

@media (min-width:1024px){
    main section article{
        width: 20%;
    }

    nav{
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }
    nav ul{
        display: flex;
    }
    nav ul li{
        margin: 0 10px;
    }
    ul li a{
        font-size: 14px;
    }
    
  

    article:hover > .main-article > .description{
        display: block;
    }
    article:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}



/* login */

.form {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section-login form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  .section-login .form input {
    width: 200px;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  
  .form button {
    padding: 0.5em 1em;
    border: none;
    background: #d5d5d5;
    cursor: pointer;
    width: 60px;
    border-radius: 4px;
  }

  .loguearse{
      transition-property: background-color;
      transition-duration: 0.5s;
  }

  .loguearse a{
      text-decoration: none;
      color:#000;
      transition-property: color;
      transition-duration: 0.5s;
  }

  .loguearse:hover{
      background-color: #1a73e8;
  }


  .loguearse:hover > a{
      color:white
  }

.perfil{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.perfil input{
    justify-self: flex-start;
}

.section-register form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.section-register .form .perfil h4{
    display:block;
}

.section-register .form .perfil{
    display:block;
}

.section-register .form button{
    margin: 10px 0;
    max-width: 400px;
    color: white

}

.section-register .form button a{
    text-decoration: none;    
}

.section-register .form button a:visited{
    color:white    
}

.form input:invalid{
    background-color: pink;
}


